<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34198666131-fi1uap9ag2q8neelkltn71pfbs43e609.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34198666131-fi1uap9ag2q8neelkltn71pfbs43e609</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>34198666131-me1l48sk04su1ia6g06t9qhhrj2r5u78.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnDAUq4d_C1TGmpeFBQSwYzeiqCKSmhr4</string>
	<key>GCM_SENDER_ID</key>
	<string>34198666131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starmail.agenda</string>
	<key>PROJECT_ID</key>
	<string>starmail-agenda</string>
	<key>STORAGE_BUCKET</key>
	<string>starmail-agenda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34198666131:ios:0eb3cb97cd64cd161c8666</string>
</dict>
</plist>